/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

html {

  height:200%;
  margin:0;
}
/* Global Styles go here. TEXT ALIGN not working and HEIGHT of gadient background*/
.body {
  margin: 0;
  padding: 0;
  height:200%;
  overflow: hidden;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  text-align: center;
}

img {
  width: 100%;
}

/* CURSOR */

body {
  cursor: url("../assets/lmn-cursor.png") 0 0, pointer;
}

/* Marquee */
.marquee-container {
  margin:0;
  padding:0;
  height: 100vh;
  /* // Defines the width of the marquee */
  width: 100px;
  font-size: 35pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  text-decoration-color: #663190;
  text-align: center;
  background-color:white;
  position:fixed;
  top: 0;
  right: 0;
}

marquee {
  padding:0;
  margin: 0;
  overflow: visable;
  height:100vh;
  text-align: center;
  height:200vh;
  position:relative;
}

.lm-text {
  text-align: center;
}

.lm-text--purple {
  color: #663190;
}

.lm-text--black {
  color: #000;
}

/* Marquee ENDS */


/* Images/Gifs are placed */

.flower-container {
  width: 10%;
  position:absolute;
  top: -20vh;
  animation: flower-falling 5s infinite;
  z-index: auto;
}

@keyframes flower-falling {
  0% {
    top: -20vh;
  }

  100% {
    top: 210vh;
  }
}

.flower-container--1 {
  left: 10%;
  animation: flower-falling 9s 3s infinite;
}

.flower-container--2 {
  left: 20%;
  animation: flower-falling 10s 6s infinite;
}

.flower-container--3 {
  left: 30%;
  animation: flower-falling 15s 1s infinite;
}

.flower-container--4 {
  left: 40%;
  animation: flower-falling 5s 9s infinite;
}

.flower-container--5 {
  left: 50%;
  animation: flower-falling 13s 3s infinite;
}

.flower-container--6 {
  left: 60%;
  animation: flower-falling 6s 3s infinite;
}

.flower-container--7 {
  left: 70%;
  animation: flower-falling 12s 5s infinite;
}

.flower-container--8 {
  left: 80%;
  animation: flower-falling 8s 1s infinite;
}


/* Falling flower no.2 starts below*/

.flower2-container {
  width: 10%;
  position:absolute;
  top: -20vh;
  z-index: auto;
}

@keyframes flower2-falling {
  0% {
    top: -30vh;
  }

  100% {
    top: 210vh;
  }
}

.flower2-container--1 {
  left: 10%;
  transform: rotate(270deg);
    animation: flower2-falling 8s 2s infinite;
}

.flower2-container--2 {
  left: 20%;
  transform: rotate(170deg);
    animation: flower2-falling 10s 4s infinite;
}

.flower2-container--3 {
  left: 30%;
  transform: rotate(60deg);
  animation: flower2-falling 5s 5s infinite;
}

.flower2-container--4 {
  left: 40%;
  transform: rotate(20deg);
  animation: flower2-falling 12s infinite;
}

.flower2-container--5 {
  left: 50%;
  transform: rotate reverse (10deg);
  animation: flower2-falling 6s 13s infinite;
}

.flower2-container--6 {
  left: 60%;
  animation: flower2-falling 10s 7s infinite;
}

.flower2-container--7 {
  left: 70%;
  animation: flower2-falling 6s 9s infinite;
}

.flower2-container--8 {
  left: 55%;
  animation: flower2-falling 15s 7s infinite;
}

.flower2-container--9 {
  left: 65%;
  animation: flower2-falling 8s 2s infinite;
}

.flower2-container--10 {
  left: 69%;
  animation: flower2-falling 10s 4s infinite;
}

.flower2-container--11 {
  left: 73%;
  animation: flower2-falling 8s 3s infinite;
}



.flower2-container--12 {
  left: 20%;
  animation: flower2-falling 10s 1s infinite;
}

.flower2-container--13 {
  left: 10%;
  animation: flower2-falling 4s 1s infinite;
}

.flower2-container--14 {
  left: 23%;
  animation: flower2-falling 9s 1s infinite;
}

.flower2-container--15 {
  left: 42%;
  animation: flower2-falling 9.5s 1s infinite;
}

.flower2-container--16 {
  left: 78%;
  animation: flower2-falling 8s 13s infinite;
}

.flower2-container--17 {
  left: 34%;
  animation: flower2-falling 5s 13s infinite;
}

.flower2-container--18 {
  left: 26%;
  animation: flower2-falling 8.5s 7s infinite;
}

.flower2-container--19 {
  left: 53%;
  animation: flower2-falling 5s 20s infinite;
}

.flower2-container--20 {
  left: 30%;
  animation: flower2-falling 11s 17s infinite;
}

.flower2-container--21 {
  left: 15%;
  animation: flower2-falling 10s 15s infinite;
}

.flower2-container--22 {
  left: 40%;
  animation: flower2-falling 9s 15s infinite;
}

/* Keyframes no.3 start, below */







/* rotating flowers END*/



/* NOT WORKING */
.lmc-container {
  width:80%;
  height:80%;
  position:absolute;
  top:15%;
  right:10%;
  z-index: auto;
  background-color: ;
}




/* Images/Giffs END */

/* Gradient changing background */

:root {
  --font-title: 24px;
  --grad-start: 280;
  --grad-end:   40;
}

body {
  display:         flex;
  justify-content: center;
  align-items:     center;
  margin:0;
  height:  200vh;

  background: linear-gradient(
    135deg,
    hsl(var(--grad-start), 100%, 75%),
    hsl(var(--grad-end), 100%, 50%)
  )
}

.p {
  counter-reset:
    hueStart var(--grad-start)
    hueEnd var(--grad-end);

  position:       relative;
  padding:        5px 10px;
  border:         1px solid currentColor;
  border-radius:  var(--font-title);
  font:           100 var(--font-title)/1 sans-serif;
  text-align:     center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color:          #fff;

  &::before, &::after {
    position:             absolute;
    display:              block;
    width:                100%;
    padding:              5px;
    font-size:            12px;
    font-variant-numeric: tabular-nums;
    color:                #fff;
  }

  &::before {
    content: 'hsl(' counter(hueStart) ', 100%, 75%)';
    bottom:  100%;
  }
  &::after {
    content: 'hsl(' counter(hueEnd) ', 100%, 50%)';
    top:     100%;
  }
}

/* Gradient changing background ENDS */
