/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

html {

  height:200%;
  margin:0;
}
/* Global Styles go here. TEXT ALIGN not working and HEIGHT of gadient background*/
.body {
  margin: 0;
  padding: 0;
  height:200%;
  overflow: hidden;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  text-align: center;
}

/* CURSOR */

body {
  cursor: url("../assets/lmn-cursor-png.png") 0 0, pointer;
}

/* Marquee */
.marquee-container {
  margin:0;
  padding:0;
  height:200vh;
  width:8vh;
  font-size: 35pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  text-decoration-color: #663190;
  text-align: center;
  background-color:white;
  position:absolute;
  right:0;

}

marquee {
  padding:0;
  margin: 0;
  overflow: visable;
  height:100vh;
  text-align: center;
  height:200vh;
  position:relative;
}

p {
  color: #663190;
  text-align: center;
}

/* Marquee ENDS */


/* Images/Gifs are placed */

.flower-container {
  width:20%;
  height:20%;
  position:absolute;
  top:3%;
  z-index: auto;
}

.img1 {
  position:relative;
  margin:0;
  padding:0;

}

.flower-container2 {
  width:20%;
  height:20%;
  position:absolute;
  top:20%;
  right:30%;
  z-index: auto;
}

.img2 {
  position:relative;
  margin:0;
  padding:0;

}

.flower-container3 {
  width:20%;
  height:20%;
  position:absolute;
  top:50%;
  left:10%;
  z-index: auto;
}

.img3 {
  position:relative;
  margin:0;
  padding:0;

}

.flower-container4 {
  width:20%;
  height:20%;
  position:absolute;
  top:70%;
  left:50%;
  z-index: auto;
}

.img4 {
  position:relative;
  margin:0;
  padding:0;

}

.flower-container5 {
  width:20%;
  height:20%;
  position:absolute;
  top:100%;
  left:60%;
  z-index: auto;
}

.img5 {
  position:relative;
  margin:0;
  padding:0;

}

.flower-container6 {
  width:20%;
  height:20%;
  position:absolute;
  top:150%;
  left:40%;
  z-index: auto;
}

.img6 {
  position:relative;
  margin:0;
  padding:0;

}

/* rotating flowers END*/

.falling-flower {
  width:30%;
  animation: falling-flower 6s infinite;
}

@keyframes falling-flower {
  0% {
    margin-left: 30vw;
    margin-top: 0;
    transform: rotate(25deg) scale(1);
}

  25% {
    margin-left:50vw;
    margin-top:20%;
    transform: rotate(25deg) scale(1);
  }

  50% {
    margin-left:120vw;
    margin-top:10%;
    transform: rotate(0deg) scale(1);
  }

  51% {
    transform: rotate(0deg) scale(-1);
  }

  75% {
    margin-left:50vw;
    margin-top:15%;
    transform: rotate(25deg) scale(-1);
  }

  100% {
    margin-left:30vw;
    margin-top:0%;
    transform: rotate(0deg) scale(-1);
  }
}



/* NOT WORKING */
.lmc-container {
  width:80%;
  height:80%;
  position:absolute;
  top:15%;
  right:10%;
  z-index: auto;
  background-color: ;
}

.img7 {
  position:relative;
  margin:0;
  padding:0;

}




/* Images/Giffs END */

/* Gradient changing background */

:root {
  --font-title: 24px;
  --grad-start: 280;
  --grad-end:   40;
}

body {
  display:         flex;
  justify-content: center;
  align-items:     center;
  margin:0;
  height:  200vh;

  background: linear-gradient(
    135deg,
    hsl(var(--grad-start), 100%, 75%),
    hsl(var(--grad-end), 100%, 50%)
  )
}

.p {
  counter-reset:
    hueStart var(--grad-start)
    hueEnd var(--grad-end);

  position:       relative;
  padding:        5px 10px;
  border:         1px solid currentColor;
  border-radius:  var(--font-title);
  font:           100 var(--font-title)/1 sans-serif;
  text-align:     center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color:          #fff;

  &::before, &::after {
    position:             absolute;
    display:              block;
    width:                100%;
    padding:              5px;
    font-size:            12px;
    font-variant-numeric: tabular-nums;
    color:                #fff;
  }

  &::before {
    content: 'hsl(' counter(hueStart) ', 100%, 75%)';
    bottom:  100%;
  }
  &::after {
    content: 'hsl(' counter(hueEnd) ', 100%, 50%)';
    top:     100%;
  }
}

/* Gradient changing background ENDS */
